.SearchResults {
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 3rem;
  column-gap: 3rem;

  .genius-result {
    align-self: center;
    display: flex;
    flex-flow: column;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
    }

    h3,
    p {
      text-align: center;
      margin: 0.5rem 0;
      max-width: 300px;
    }
  }
  // .genius-result:not(:last-child) {
  //   margin-bottom: 3rem;
  // }
}
