.Lyrics {
  $navHeight: 30px;
  $lyricWindowHeight: calc(100% - #{$navHeight});
  position: relative;

  .dynamic-font-size {
    line-height: clamp(1.5rem, 2vw, 1.5em);
    font-size: clamp(16px, 2vw, 1.5em);
  }

  .song-lyrics {
    white-space: pre-wrap;
    margin-bottom: 3rem;
  }

  .song-lyrics.sml-width {
    width: 45%;
  }

  .song-info {
    position: absolute;
    top: $navHeight;
    right: 0;
    transform: translate(100%, 0);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    background: #ffffffbd;
    width: 55%;
    height: $lyricWindowHeight;
    padding: 1.15rem;
    box-sizing: border-box;
    overflow: auto;

    img {
      width: 100%;
      height: 300px;
    }

    div.embedly_preview--video {
      width: 100%;

      iframe {
        width: 100%;
      }
    }
  }

  .song-info.show {
    transform: translate(0%, 0);
  }

  .user-options {
    width: 100%;
    background: #b4b4b4;
    height: $navHeight;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      justify-content: start;
      align-items: stretch;
    }
  }

  .lyrics-body {
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
    height: $lyricWindowHeight;
  }

  .return-btn {
    // border-radius: 30px;
    border: none;
    height: $navHeight;
    // width: 40px;
    // font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: auto;
    }
  }

  button:focus,
  input:focus {
    outline: none;
    border: 4px solid rgba(253, 234, 255, 0.6);
  }

  @media only screen and (max-width: 500px) {
    .song-info {
      width: 100%;
    }
  }
}
