.Lyrics {
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  .dynamic-font-size {
    line-height: clamp(1.5rem, 2vw, 3em);
    font-size: clamp(16px, 2vw, 3em);
  }

  .song-lyrics {
    white-space: pre-wrap;
    margin-bottom: 3rem;
  }
  .user-options {
    position: fixed;
    top: 70px;
    right: 1rem;
  }
  .return-btn {
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:focus,
  input:focus {
    outline: none;
    border: 4px solid rgba(253, 234, 255, 0.6);
  }
}
