.App {
  text-align: center;
}

.Header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  box-sizing: border-box;
  background: #c86fff;
}
